#!/usr/bin/make -f  
%:  
	dh $@

override_dh_auto_install:
	install -D -m 0655 can2udp.service $$(pwd)/debian/can2udp/etc/systemd/system/can2udp.service
	install -D -m 0755 can2udp $$(pwd)/debian/can2udp/usr/bin/can2udp

